@use "../variables" as v;

.play-body {
  padding: 0.25em;
  // border: 1px solid black;
  white-space: pre;
  // padding-left: 1em;
  // justify-content: space-between;
  border-bottom: 1px solid black;
}

.play-body-playing {
  background-color: v.$secondary;
}
