h.waveform-container {
  // background-color: red;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: scale(1);
  filter: brightness(1);
  // transition: transform .1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 0;
}

.waveform-container:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.1);
  // filter: brightness(1.5);
  z-index: 1000;
  transition: transform 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.popup-3d {
  // transform: translate3d(0, 100, 100);
  -webkit-transform: scale(1.5);
  transform: scale(1.1);
  // filter: brightness(1.5);
  z-index: 1000;
  transition: 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

// .playing {
//     fill: white;
//     fill-opacity: 0;
//     // transform-origin: 50% 50%;
//     stroke-width: 10;
//     stroke-color: red;
//     animation-duration: 2s;
//     // animation-name: pulse;
// //     animation-iteration-count: infinite;
// }
// :host::ng-deep svg path:nth-of-type(1){
//     fill:red;
// }

@keyframes pulse {
  from {
    stroke-width: 3px;
    stroke-opacity: 1;
    transform: scale(0.3);
  }
  to {
    stroke-width: 0;
    stroke-opacity: 0;
    transform: scale(2);
  }
}
